body {
	font-weight: 100;
	font-family: sans-serif;
	line-height: inherit;
}

.container {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ay {
	display: flex;
	align-items: center;
}

#logo {
	font-weight: 700;
	font-size: 200%;
	font-family: sans-serif;
}

#main {
	padding: 5px;
	border: 5px solid #000000;
}

#invalid {
	color: red;
}

#success {
	color: #69a74e;
}
